<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<test thread-count="5" name="Test">
	<parameter name="URL" value="google" />
	<parameter name = "username" value = "abc.com"/>
		<classes>
			<class name="frameworkPracticeTestNG.Class1" />
			<class name="frameworkPracticeTestNG.Class2" />
		</classes>
	</test> <!-- Test -->
	<test name="login">
		<classes>
			<class name="frameworkPracticeTestNG.Class3" />
		</classes>
	</test>

	<test name="logout">
	<parameter name="URL" value="qaclickacademy.com" />
		<classes>
			<class name="frameworkPracticeTestNG.Class4">
				<methods>
					<exclude name="webLogout" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
